* {
    box-sizing: border-box;
    border: 5px black;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
}

h1 {
    justify-self: center;
}

.displayed-images {
    border: 2px black;
    min-width: 400px;
    min-height: 400px;
}