* {
    box-sizing: border-box;
    --background-color: #F3E9DC;
    --highlight-raw-sienna: #C08552;
    --highlight-caput-mortuumm: #5E3023;
    --highlight-russet: #895737;
    --highlight-tumbleweed: #DAB49D;
}

html {
    display: grid;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-self: center;
    padding: 0 10%;
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: var(--background-color);
    
}

h1 {
    justify-self: center;
    line-height: 2em;
    justify-self: center;
    align-self: center;
    background-color: var(--highlight-tumbleweed);
}
/* 
.displayed-images > img {
    border: 2px black;
    max-width: 400px;
    max-height: 400px;
} */

section {
    justify-self: center;
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
}

section > img {
    display: inline-block;
    max-width: 250px;
    max-height: 250px;
    box-shadow: 3px 3px rgba(0, 0, 0, .2);
}